/*=========== SETTINGS ===========*/

/*font-family: 'Expletus Sans', cursive;*/
/*font-family: 'Rubik', sans-serif;*/

/*=========== GENERIC ===========*/

*, *::before, *::after{
    box-sizing: border-box;
}

li{
    list-style: none;
}

h1, h2{
    margin: 0;
}


/*=========== ELEMENTS ===========*/

body{
    margin: 0;
    font: 500 1.125rem/21px 'Rubik', sans-serif;
}

a{
    color: #2D2D2D;
    text-decoration: none;
}

a:hover{
    color: #FFFCFC;
    text-decoration: #FFFCFC;
}

h1{
    font: 600 7.812rem/125px 'Expletus Sans', cursive;
}

h2{
    font: 600 4rem/83px 'Expletus Sans', cursive;
    color: #FFFFFF;
}


/*=========== COMPONENTS ===========*/

.conteneur{
    margin: 0 auto;
    max-width: 1140px;
}

/*-header-*/

.header-principal{
    background-color: #FF9800;
    margin: 0;
    height: 61px;
}

.header-principal div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-principale ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-principale li{
    margin-left: 20px;
}

/*-baniere-*/

.hero{
    background-color: #FFC107;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1{
    padding:88px 0;
}

/*-information-*/

.information{
    padding: 30px 0;
}

.information div{
    display: flex;
    justify-content: space-between;
}

.carte{
    width: 31%;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
}

.carte div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
}

.carte header{
    padding: 60px 0;
    text-align: center;
}

.carte:nth-child(1) header{
    background: #E34E26;
}

.carte:nth-child(2) header{
    background: #0270BB;
}

.carte:nth-child(3) header{
    background: #F8DC3D;
}

.carte-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carte-footer a{
    padding: 10px;
    font-size: 0.875rem;
    line-height: 17px;
    background-color: #FFC107;
    border: 1px solid #E64A19;
    border-radius: 5px;
}

.carte-footer a:hover{
    background-color: #E64A19;
}

.carte-footer .vues{
    font-size: 0.875rem;
    line-height: 17px;
    color: #E64A19;
}

/*-footer-*/

.footer-principal{
    background-color: #E64A19;
    margin: 0;
    padding: 22px;
    font-size: 0.875rem;
    line-height: 17px;
    color: #FFFFFF;
}

/*=========== UTILITIES ===========*/